* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Roboto Condensed',
        sans-serif;
    /* border: 3px solid black; */
    animation: page-load 750ms ease-in-out;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 3rem;
    /* border: 1px solid cadetblue; */
}

.logo {
    border: 3px solid black;
    padding: 1rem;
}

.logo:hover {
    transform: rotate(360deg);
    transition: ease-in-out 0.9s;
    color: rgb(0, 0, 0);
    border-color: white;
}


nav a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 1rem;
    list-style: none;
    transition: ease-in-out 100ms;
}

nav li:hover {
    transform: scale(1.2);
    font-weight: 700;
    transition: ease-in-out 100ms;
}

.intro {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 50px;
    word-spacing: 1rem;
    letter-spacing: 0.2rem;
    text-shadow: 2px 2px rgb(152, 153, 153);
}

h4 {
    text-align: center;
    margin-top: 1rem;
    font-size: 20px;
    word-spacing: 5px;
}

.about-me,
.about-me-para,
.projects,
.projects-para {
    text-align: left;
}

.projects {
    margin-top: 2rem;
}

.content-box {
    /* width: 60rem; */
    /* border: 1px solid crimson; */
    margin: 4rem auto;
    line-height: 1.5rem;
    padding: 2rem 1rem;
}

.mail a {
    display: inline-block;
    width: 15rem;
    height: 4rem;
    border: 2px solid black;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 26px;
    font-weight: 700;
    padding-top: 1rem;
}

.mail {
    width: 15rem;
    height: 4rem;
    margin: 3rem auto;
}

.mail a:hover {
    background-color: rgb(75, 75, 75);
    color: rgb(255, 255, 255);
    border-color: white;
    animation: link-hover 500ms ease-in-out;
}

.contact {
    width: 20rem;
    margin: 2rem auto 2rem auto;
}


.icons {
    width: 2rem;
}


.contact ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.contact li:hover {
    transform: scale(1.1, 1.2);
    transition: ease-in 0.2s;
}

@media only screen and (max-width:700px) {
    .logo {
        border: 3px solid black;
        padding: 0.5rem;
    }

    .intro {
        font-size: 40px;
    }
}

@media only screen and (max-width:550px) {
    .logo {
        border: 3px solid black;
        padding: 0.5rem;
    }

    .intro {
        font-size: 30px;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 1rem 1rem;
        /* border: 1px solid cadetblue; */
    }
}

@keyframes page-load {
    0% {
        transform: scale(0%);
    }

    100% {
        transform: scale(100%);
    }
}

@keyframes link-hover {
    0% {
        background-color: white;
        transform: scaleX(0%) left;
    }

    100% {
        background-color: rgb(99, 99, 99);
        transform: scaleX(100%)right;
    }

}